body {
  background: #0B1830;

}

/* 
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,800,800i,900i&display=swap');
button{
  position: absolute;
  width: 304px;
  height: 50px;
  left: 808px;
  top: 200px
}

input{
  position: absolute;
  width: 304px;
  height: 50px;
  left: 808px;
  top: 200px
} */


